.contClass {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.navColor {
  background-color: #8898c2;
}

.titleTxt {
  color: white;
  margin-left: 10rem;
}

.searchBar {
  margin-left: 60rem;
}

.btnColor {
  background-color: #f9f5f5;
}

.bookBtn {
  background: url("https://api.iconify.design/material-symbols/bookmark-outline.svg?color=white")
    no-repeat center center / contain;
  outline: none;
}

.weatherCol1Styles {
  background-color: #dcb692;
}


.searchStyle {
  width: 15rem;
}

.pTxtStyles1 {
  font-size: 30px;
  color: white;
}
.pTxtStyles2 {
  font-size: 15px;
  color: white;
}
.pTxtStyles3 {
  position: absolute;
  width: 290px;
  height: 213px;
  left: 660px;
  font-size: 140px;
  color: white;
}
.pTxtStyles4 {
  float: left;
  font-size: 140px;
  color: white;
}

.sunIcon {
  float: right;
  color: white;
  margin-right: 0rem;
  width: 200px;
  height: 200px;
}

.starBtn {
    background: url('https://api.iconify.design/material-symbols/star-rate.svg?color=white&width=100&height=100') no-repeat center center / contain;
    outline: none;
    width: 5rem;
  height: 5rem;
  
}

.PurpleBxRow{
    justify-content: center;
    display: flex;
    margin-top: 3rem;
}

.fivePrpBx{
  width: 22rem;
  height: 24rem;
 background-color: #8898C2;
 margin-right: 17px;
}
.fivePrpBx2{
  width: 22rem;
  height: 24rem;
  background-color: #8898C2;
}
.fivePrpRow{
  margin-top: 3rem;
  justify-content: row;
  display: flex;
}

.prpTxt{
  text-align: center;
  color: white;
  font-size: 20px;
}

.prpNum{
  text-align: center;
  color: white;
  font-size: 60px;
  margin-top: 5rem;
}
.fiveIconClss{
  color: white;
  width: 60px;
  height: 60px;
  float: right;
}
.btn-check{
  
}
